.login-body {
  background-image: url("../Images/Louisville_background.png"); /* Replace '../path/to/your/image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .card {
  background-color: transparent;
  border: none;
}

.card-title{
    color: #444848;
    font-size: 3rem;
} */

.red-button {
    width: 150px; /* Set width to 150 pixels */
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
  }
  
  .red-button:hover {
    background-color: #cc0000; /* Darker red on hover */
    color: #fff;
  }
  
  /* Black button */
  .black-button {
    width: 150px; /* Set width to 150 pixels */
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
  }
  
  .black-button:hover {
    background-color: #333; /* Darker black on hover */
    color: #fff;
  }
